<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arezoonazer.player">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".view.PlayerActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>